.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.border-groups {
  border-left:5px #ef3a3a solid;
}
.header-bar {
    background-color: #ef3a3a;
    .title {
        color: #fff;
    }
    .icon {
        color: #fff;
    }
}