<ion-side-menus>
  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item ng-show="vm.isAdmin()" nav-clear menu-close ng-click="vm.validateAdmin(true)">
          Pedidos para mañana
        </ion-item>
        <ion-item ng-show="vm.isAdmin()" nav-clear menu-close ng-click="vm.validateAdmin(false)">
          Historial de Ordenes
        </ion-item>
        <ion-item ng-show="vm.isAdmin()" nav-clear menu-close ng-click="vm.goToDeliveries()">
          Historial de Entregas
        </ion-item>
        <ion-item nav-clear menu-close ng-click="vm.logout()">
          Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
    <ion-view title="Orders">
      <ion-header-bar class="bar bar-header header-bar">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Ordenes</h1>
      </ion-header-bar>
      <ion-content>
        <h1 ng-show="vm.noOrders"> No hay ordenes para el día de hoy</h1>
        <ul class="unstyled">
          <li ng-repeat="group in vm.sortedOrders">
            <div class="border-groups" ng-show="!group.sent" ng-click="vm.toggleGroup(group)" ng-class="{active: vm.isGroupShown(group)}">
              <div class="item">
                <h2>Casa número: {{group.id}}</h2>
                <p>{{group.date}}</p>
              </div>
            </div>
            <div class="item-body" ng-show="vm.isGroupShown(group)">
              <ul class="unstyled">
                <li ng-repeat="item in group.items">
                  <ion-item>
                    Orden número: {{item}}: {{vm.buildOrderDetailsForOrder(item)}}
                  </ion-item>
                </li>
                <ion-toggle ng-checked="group.sent" ng-click="vm.sendPush(group)">Entregado </ion-toggle
              </ul>
            </div>
          </li>
        </ul>
      </ion-content>
    </ion-view>
  </ion-side-menu-content>
</ion-side-menus>
