.baker-background {
  background-color: #ef3a3a; }
  .baker-background .spacer-1 {
    height: 1em; }
  .baker-background .spacer-5 {
    height: 5em; }
  .baker-background .logo {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .baker-background .row {
    padding: 0px !important; }
  .baker-background .button {
    margin-top: 3em;
    margin-left: 5em;
    border-radius: 0;
    background-color: #f24c4c;
    width: 100%;
    color: #ffffff; }
  .baker-background .input-underline {
    margin-bottom: 2em !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #ffffff !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    width: 80% !important;
    margin-left: 10% !important; }
    .baker-background .input-underline::-moz-placeholder {
      color: #ffffff !important; }
    .baker-background .input-underline::-ms-input-placeholder {
      color: #ffffff !important; }
    .baker-background .input-underline::-webkit-input-placeholder {
      color: #ffffff !important; }
    .baker-background .input-underline:focus {
      border-bottom: 2px solid #ffffff !important;
      box-shadow: none !important; }
