<ion-view>
  <ion-header-bar class="bar header-bar bar-assertive" title="center">
    <button class="button icon ion-chevron-left" ng-click="vm.return()"></button>
    <h1 class="title">Historial de ordenes</h1>
  </ion-header-bar>
  <ion-content>
    <center>
      <h3>Ordenes</h3>
      <div class="row">
        <div class="col">
          <input type="date" ng-model="vm.from">
        </div>
        <div class="col">
          <input type="date" ng-model="vm.to">
        </div>
      </div>
      <button class="align-center button button-small button-outline button-assertive"
              ng-click="vm.searchBreadOrders()">Buscar</button>
    </center>
    <div ng-show="vm.inRangeLength">
      </br>
      <h3><center>Resumen</center></h3>
      <div class="col">
        <div class="row">
          Pedidos Regulares: {{vm.breadCounters.regular}}
        </div>
        <div class="row">
          Pedidos Especiales: {{vm.breadCounters.special}}
        </div>
        <div class="row">
          Pedidos Cancelados: {{vm.breadCounters.eliminated}}
        </div>
        <div class="row">
          Total: {{vm.inRangeLength}}
        </div>
        </br>
        <div class="row">
          Pedidos Regulares Entregados: {{vm.breadCounters.regularDelivered}}
        </div>
        <div class="row">
          Pedidos Especiales Entregados: {{vm.breadCounters.specialDelivered}}
        </div>
        <div class="row">
          Total Entregados: {{vm.breadCounters.regularDelivered + vm.breadCounters.specialDelivered}}
        </div>
        </br>
        <div class="row">
          Pedidos Regulares No Entregados: {{vm.breadCounters.regular - vm.breadCounters.regularDelivered}}
        </div>
        <div class="row">
          Pedidos Especiales No Entregados: {{vm.breadCounters.special - vm.breadCounters.specialDelivered}}
        </div>
        <div class="row">
          Total No Entregados: {{(vm.breadCounters.special + vm.breadCounters.regular) - (vm.breadCounters.regularDelivered + vm.breadCounters.specialDelivered)}}
        </div>
      </div>
    </div>
    </br>
    <center>
      <h3 ng-show="!vm.inRangeLength"> No hay ordenes dentro de ese rango</h3>
    </center>
    </br>
    <center ng-show="vm.inRangeLength">
      <h3>Panes Ordenados</h3>
    </center>
    <ion-list>
      <ion-item ng-repeat="breadOrder in vm.inRangeBreads">
        <div class ="row">
          <div class="col">
            {{breadOrder[1]}}
          </div>
          <div class="col">
            {{breadOrder[0]}}
          </div>
          <div class="col">
            Precio unitario:<input type="number" placeholder = "0" ng-model="vm.amount[$index]">
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="row" ng-show="vm.inRangeLength">
      <div class="col">
        Total a pagar: {{vm.totalPrice()}}
      </div>
    </div>
    </br>
    <h3 ng-if="vm.filteredOrders.length > 0">
      <center>Detalle de las Ordenes</center>
    </h3>
    <center ng-if="vm.filteredOrders.length > 0">
      <div class="row">
        <div class="col">
          Fecha
        </div>
        <div class="col">
          Entregado
        </div>
        <div class="col">
          Tipo
        </div>
      </div>
    </center>
    </div>
    <ion-list ng-show="vm.filteredOrders.length > 0">
      <ion-item ng-repeat="order in vm.filteredOrders">
        <div class="row text-center">
          <div class="col">
            {{vm.dateFormat(order.deliveryDate)}}
          </div>
          <div class="col">
            {{order.state ? "&#10003;" : ""}}
          </div>
          <div class="col">
            {{order.orderType.orderType}}
          </div>
        </div>
      </ion-item>
    <ion-list>
  </ion-content>
</ion-view>
