<ion-view title="Login">
  <ion-content padding="true" class="baker-background">
    <div class="spacer-5"></div>
    <img src="img/logo.jpg" class="logo">
    <div class="spacer-5"></div>
    <form class="list">
      <div class="form-content">
         <div class="form-group">
           <input type="email" class="form-control input-underline input-lg" placeholder="Email" ng-model="vm.user.user">
         </div>
         <div class="form-group">
           <input type="password" class="form-control input-underline input-lg" placeholder="Contraseña" ng-model="vm.user.password">
         </div>
       </div>
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <button type="submit" class="button" ng-click="vm.logIn()">INICIAR SESIÓN</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
