<ion-view>
  <ion-header-bar class="bar header-bar bar-assertive" title="center">
    <button class="button icon ion-chevron-left" ng-click="vm.return()"></button>
    <h1 class="title">Historial de Entregas</h1>
  </ion-header-bar>
  <ion-content>
    <center>
      <div class="row">
        <div class="col">
          <h3>Entregas Realizadas</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="date" ng-model="vm.from">
        </div>
        <div class="col">
          <input type="date" ng-model="vm.to">
        </div>
      </div>
      <button class="align-center button button-small button-outline button-assertive" ng-click="vm.searchOrders()">Buscar</button>
    </center>
    </br>
    <div ng-if="vm.deliveries.length == 0">
      <center>
        <h4>No hay entregas realizadas para el rango especificado</h4>
      </center>
    </div>
    </br>
    <div ng-if="vm.deliveries.length > 0">
      <h3><center>Resumen</center></h3>
      <div class="col">
        <div class="row">
          Total Entregas: {{vm.deliveries.length}}
        </div>
      </div>
    </div>
    <h3 ng-if="vm.deliveries.length > 0">
      <center>Detalles</center>
    </h3>
    <center ng-if="vm.deliveries.length > 0">
      <div class="row">
        <div class="col">
          Fecha
        </div>
        <div class="col">
          Cliente
        </div>
      </div>
    </center>
    <ion-list ng-show="vm.deliveries.length > 0">
      <ion-item ng-repeat="delivery in vm.deliveries">
        <div class="row text-center">
          <div class="col">
            {{vm.dateFormat(delivery.deliveryDate)}}
          </div>
          <div class="col">
            {{delivery.fullName}}
          </div>
        </div>
      </ion-item>
    <ion-list>
  </ion-content>
</ion-view>
