  <ion-view>
  <ion-header-bar class=" bar header-bar bar-assertive" title="center">
    <button class="button icon ion-chevron-left" ng-click="vm.return()"></button>
    <h1 class="title">Pedidos para mañana</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat=" order in vm.breadOrders">
        <div class="row">
          <div class="col">
            <b>{{order[1]}}:</b> {{order[0]}}
          </div>
        </div>
      </ion-item>
      <br>
      <center>
        <b>Ordenes</b>
        <div class="row">
          <div class="col">
            <b>Orden #</b>
          </div>
          <div class="col">
            <b>Casa #</b>
          </div>
          <div class="col">
            <b>Cantidad</b>
          </div>
          <div class="col">
            <b>Pan</b>
          </div>
        </div>
      </center>
      <div ng-hide="vm.hasSomeData()">
        <center>
          No hay pedidos para mañana
        </center>
      </div>
      <ion-item ng-repeat = "info in vm.fullBreadOrders">
        <center>
          <div class="row">
            <div class="col">
              {{info.order.id}}
            </div>
            <div class="col">
              {{info.order.client.houseNumber}}
            </div>
            <div class="col">
              {{info.amount}}
            </div>
            <div class="col">
              {{info.bread.breadType}}
            </div>
          </div>
        </center>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
